spring:
  application:
    name: project-board

  datasource:
    url: jdbc:mysql://localhost:3306/boarddb?serverTimezone=Asia/Seoul
    username: board_app
    password: StrongPsw123!

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  data:
    rest:
      base-path: /api
      detection-strategy: annotated
